<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% if title %}
    <title>{{title}} - microblog</title>
    {% else %}
    <title>microblog</title>
    {% endif %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='reset.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class=page>
      <h1><a href="{{ url_for('index') }}">Flaskr</a></h1>
      <div class=metanav>

        <div>  
          {% if current_user.is_authenticated() %}
            {% if current_user and current_user.role == 1%}
            <a href="{{ url_for('signout') }}">admin</a>  
            <a href="{{ url_for('post') }}">post</a>  
            {% endif %}
            <a href="{{ url_for('tags') }}">tags</a>
            <a href="{{ url_for('signout') }}">signout</a>
          {% else %}
            <a href="{{ url_for('signin') }}">signin</a>
            <a href="{{ url_for('signup') }}">signup</a>
          {% endif %}
        </div>
      </div>
        {% for message in get_flashed_messages() %}
            <div class=flash>{{ message }}</div>
        {% endfor %}
        {% if categories %}
         <div id="nav">
          <ul>
            <li><a href="{{ url_for('index') }}">home</a>
            {% for category in categories %}
            <li><a href="{{ url_for('list', name=category.name) }}">{{ category.name }}</a></li>
            {% endfor %}
          </ul>
        </div> 
        {% endif %}
        

        {% block content %}{% endblock %}
    </div>
  </body>
</html>
