<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  <h1>hello flask</h1>
  <ul class=entries>
  {% if post %}
    <li>
      <h2>{{ post.title }}</h2>
      <span>
        author:{{ post.user.nickname }}<br />
        pubdate:{{ post.pub_date }}<br />
        tags:
        {% if post.tags %}
          {% for tag in post.tags %}
          <em>{{ tag.content }}</em>
          {% endfor %}
        {% else %}
          None
        {% endif %}
      </span>
      <div>
        {{ post.body|safe }}
      </div>
      
    </li>
  {% else %}
    <li><em>Unbelievable.  No post here so far</em></li>
  {% endif %}
  </ul>
{% endblock %}
