<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  <h2>sign up</h2>
  {% if form.errors %}
    <p class=error><strong>Error:</strong> 
    {% for key, value in form.errors.items()  %}
      {{ key }}:{{ value[0] }}<br/>
    {% endfor %}
  {% endif %}
  <form method="POST" action=''>
    {{ form.hidden_tag() }}
    <p>{{ form.nickname.label }} {{ form.nickname(class="form-control", placeholder="Enter nickname") }}</p>
    <p>{{ form.email.label }} {{ form.email(class="form-control", placeholder="Enter email") }}</p>
    <p>{{ form.password.label }} {{ form.password(class="form-control", placeholder="Enter password") }}</p>
    <p>{{ form.conform.label }} {{ form.conform(class="form-control", placeholder="agin nickname") }}</p>
    <input type="submit" value="Sign Up" class="btn btn-primary" />
    <input type="reset" value="Reset" class="btn btn-info" />
  </form>
{% endblock %}

